.section {
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home {
    background-color: #7d8bf4;
}
.About {
    background-color: #df7070;
}
.Projects {
    background-color: #e1ec68;
}
.Learning {
    background-color: #7ff491;
}

.navbar {
    position: fixed;
    top:30px;
    left:50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(237, 234, 234, 0.164);
    backdrop-filter: blur(2px);
    padding: 12px 60px;
    border-radius: 8px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}